src/SMUrtNUS_flow.json
[
    {
        "id": "23212fc.af324d",
        "type": "tab",
        "label": "SMUrtNUS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b4e7c6e8.a70308",
        "type": "ui_tab",
        "z": "23212fc.af324d",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5927d1e5.3e92a",
        "type": "ui_group",
        "z": "23212fc.af324d",
        "name": "Profile",
        "tab": "b4e7c6e8.a70308",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "c44e45c.473b1b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Georgia,Georgia,serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Georgia,Georgia,serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY-MM-DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cfae6cba.7f4ba",
        "type": "ui_group",
        "z": "",
        "name": "Details",
        "tab": "b4e7c6e8.a70308",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6ed36a0a.dfc584",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5927d1e5.3e92a",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "c4802626.d2d8d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5927d1e5.3e92a",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "a2053011.0a4d1",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "5927d1e5.3e92a",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "4e3646c5.e5e2c8",
        "type": "ui_group",
        "z": "",
        "name": "Results",
        "tab": "b4e7c6e8.a70308",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "83f2bd3c.f8458",
        "type": "wml-config",
        "z": "",
        "host": "https://us-south.ml.cloud.ibm.com",
        "instanceid": "e5fa15cb-c7ba-48e1-a522-e98944a88838",
        "name": "Elderly_prediction"
    },
    {
        "id": "3eea5ee5.bfd272",
        "type": "join",
        "z": "23212fc.af324d",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "0.1",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1210,
        "y": 920,
        "wires": [
            [
                "a3ebe22d.c5bb"
            ]
        ]
    },
    {
        "id": "a3ebe22d.c5bb",
        "type": "change",
        "z": "23212fc.af324d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "msg.profile",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "c72013fb.6477c",
        "type": "ui_button",
        "z": "23212fc.af324d",
        "name": "",
        "group": "5927d1e5.3e92a",
        "order": 24,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit Profile",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Profile\", \"Home_Results\"],\"show\":[\"Home_Details\"]}}",
        "payloadType": "json",
        "topic": "",
        "x": 260,
        "y": 1440,
        "wires": [
            [
                "3f4984ee.3fa8fc"
            ]
        ]
    },
    {
        "id": "c1a674ff.ea6448",
        "type": "ui_dropdown",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Gender",
        "tooltip": "",
        "place": "Select gender",
        "group": "5927d1e5.3e92a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "M",
                "value": "Male",
                "type": "str"
            },
            {
                "label": "F",
                "value": "Female",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "sex",
        "x": 720,
        "y": 140,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "8bb5351a.daed98",
        "type": "ui_dropdown",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Race",
        "tooltip": "",
        "place": "Select race",
        "group": "5927d1e5.3e92a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Chinese",
                "value": "Chinese",
                "type": "str"
            },
            {
                "label": "Malay",
                "value": "Malay",
                "type": "str"
            },
            {
                "label": "Indian",
                "value": "Indian",
                "type": "str"
            },
            {
                "label": "Others",
                "value": "Others",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "race",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "f33368fd.e05298",
        "type": "ui_text_input",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Unique ID",
        "tooltip": "Any random 5 digit",
        "group": "5927d1e5.3e92a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "unique_id",
        "x": 720,
        "y": 100,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "294af984.0d4fd6",
        "type": "ui_slider",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Age",
        "tooltip": "Select age",
        "group": "5927d1e5.3e92a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "age",
        "min": "50",
        "max": "120",
        "step": 1,
        "x": 730,
        "y": 180,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "2f880da.7eeb9f2",
        "type": "ui_dropdown",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Education",
        "tooltip": "",
        "place": "Select education",
        "group": "5927d1e5.3e92a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Primary School",
                "value": "Below Secondary",
                "type": "str"
            },
            {
                "label": "Secondary School",
                "value": "Secondary",
                "type": "str"
            },
            {
                "label": "Post Secondary",
                "value": "Post Secondary",
                "type": "str"
            },
            {
                "label": "University",
                "value": "University",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "education_level",
        "x": 720,
        "y": 260,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "58f7e8a0.52cfa8",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Alcoholic?",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "alcoholic",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 340,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "5233d3a6.5687fc",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Smoker?",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "smoker",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 720,
        "y": 380,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "8c2f4142.58e1e",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Dementia?",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "dementia",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "e78a327a.7ecc3",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Is physically handicapped?",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "physically_handicapped",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 680,
        "y": 460,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "1d318735.cbcf09",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Is intellectually disabled?",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "intellectually_disabled",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 500,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "2038d8d4.5ec798",
        "type": "ui_slider",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Number of occupants",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 20,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "no_of_occupants",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "1c96d7d.1259b28",
        "type": "ui_dropdown",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Diabetic",
        "tooltip": "",
        "place": "Select option",
        "group": "5927d1e5.3e92a",
        "order": 17,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "NIL",
                "value": 0,
                "type": "num"
            },
            {
                "label": "Type 1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "Type 2",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "diabetes",
        "x": 720,
        "y": 580,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "1aea9f8.7f0db61",
        "type": "ui_slider",
        "z": "23212fc.af324d",
        "name": "",
        "label": "BMI",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 19,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "BMI",
        "min": "10",
        "max": "50",
        "step": "0.1",
        "x": 710,
        "y": 620,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "b4e57627.b883b8",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Has high blood pressure",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "high_blood_pressure",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 710,
        "y": 680,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "3103e6c9.8bae4a",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Family has existing conditions",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "family_existing_conditions",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 720,
        "y": 760,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "161df932.d1ec07",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Past cardiac arrest?",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "past_cardiac_arrest",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 800,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "22157c78.b985d4",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Currently on medication",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "on_medication",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 720,
        "y": 840,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "a541bf35.b662c",
        "type": "ui_numeric",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Average weekly exercise",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 21,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "avg_exercise",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "step": 1,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "757157a4.8df338",
        "type": "ui_date_picker",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Date of incident",
        "group": "cfae6cba.7f4ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "date_of_accident",
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "d1c155cc.8bd248"
            ]
        ]
    },
    {
        "id": "9eba9fd1.1b18",
        "type": "ui_slider",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Hour of the day",
        "tooltip": "in 24h format",
        "group": "cfae6cba.7f4ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "incident_hour_of_the_day",
        "min": 0,
        "max": "23",
        "step": 1,
        "x": 600,
        "y": 1140,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "36a24499.d2253c",
        "type": "ui_switch",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Harsh weather condition",
        "tooltip": "",
        "group": "cfae6cba.7f4ba",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "harsh_weather",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 570,
        "y": 1180,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "7727d503.2844cc",
        "type": "ui_text_input",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Cholesterol level",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 16,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "cholesterol_level",
        "x": 740,
        "y": 720,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "c1426026.3eaf3",
        "type": "ui_text_input",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Number of times hospitalised",
        "tooltip": "",
        "group": "5927d1e5.3e92a",
        "order": 22,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "hospitalisation_count",
        "x": 740,
        "y": 900,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "3274f5d3.85fc5a",
        "type": "ui_text_input",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Max motion speed recorded",
        "tooltip": "",
        "group": "cfae6cba.7f4ba",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "max_motion_speed",
        "x": 560,
        "y": 1300,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "7efbc8d8.56b8e8",
        "type": "ui_text_input",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Heart rate",
        "tooltip": "average heart rate in the period",
        "group": "cfae6cba.7f4ba",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "avg_heart_rate",
        "x": 620,
        "y": 1260,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "719a3047.b15c7",
        "type": "ui_text_input",
        "z": "23212fc.af324d",
        "name": "",
        "label": "Body temperature",
        "tooltip": "",
        "group": "cfae6cba.7f4ba",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "temperature",
        "x": 590,
        "y": 1220,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "3f4984ee.3fa8fc",
        "type": "ui_ui_control",
        "z": "23212fc.af324d",
        "name": "Change tabs",
        "events": "all",
        "x": 610,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "a8cb6163.61ae4",
        "type": "ui_button",
        "z": "23212fc.af324d",
        "name": "",
        "group": "cfae6cba.7f4ba",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit Details",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Home_Results\"],\"hide\":[\"Home_Details\", \"Home_Profile\"] }}",
        "payloadType": "json",
        "topic": "",
        "x": 240,
        "y": 1700,
        "wires": [
            [
                "3f4984ee.3fa8fc",
                "ada7e347.0ddcc"
            ]
        ]
    },
    {
        "id": "ada7e347.0ddcc",
        "type": "change",
        "z": "23212fc.af324d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.profile",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 1800,
        "wires": [
            [
                "4ebe449.b1b0cbc"
            ]
        ]
    },
    {
        "id": "b56f8bbe.06cf08",
        "type": "debug",
        "z": "23212fc.af324d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 930,
        "y": 1660,
        "wires": []
    },
    {
        "id": "d679523.d4a1ab",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "Initial route",
        "topic": "",
        "payload": "{\"group\":{\"show\":[\"Home_Profile\"],\"hide\":[\"Home_Details\", \"Home_Results\"] }}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 290,
        "y": 1540,
        "wires": [
            [
                "3f4984ee.3fa8fc"
            ]
        ]
    },
    {
        "id": "8ed978b0.f7f3d8",
        "type": "ui_button",
        "z": "23212fc.af324d",
        "name": "",
        "group": "cfae6cba.7f4ba",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Back to Profile",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Home_Profile\"],\"hide\":[\"Home_Details\", \"Home_Results\"] }}",
        "payloadType": "json",
        "topic": "",
        "x": 260,
        "y": 1620,
        "wires": [
            [
                "3f4984ee.3fa8fc"
            ]
        ]
    },
    {
        "id": "56792903.4c0e58",
        "type": "ui_text",
        "z": "23212fc.af324d",
        "group": "4e3646c5.e5e2c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Results",
        "label": "Results: ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1980,
        "y": 1580,
        "wires": []
    },
    {
        "id": "ae9946b4.b33948",
        "type": "ui_button",
        "z": "23212fc.af324d",
        "name": "",
        "group": "4e3646c5.e5e2c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Home_Profile\"],\"hide\":[\"Home_Details\", \"Home_Results\"] }}",
        "payloadType": "json",
        "topic": "",
        "x": 480,
        "y": 1680,
        "wires": [
            [
                "3f4984ee.3fa8fc"
            ]
        ]
    },
    {
        "id": "c7692295.3dd6e",
        "type": "ui_button",
        "z": "23212fc.af324d",
        "name": "",
        "group": "4e3646c5.e5e2c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Back to Details",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Profile\", \"Home_Results\"],\"show\":[\"Home_Details\"]}}",
        "payloadType": "json",
        "topic": "",
        "x": 520,
        "y": 1720,
        "wires": [
            [
                "3f4984ee.3fa8fc"
            ]
        ]
    },
    {
        "id": "7bdca2bf.53df7c",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "Init with empty string",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 780,
        "wires": [
            [
                "f33368fd.e05298",
                "7727d503.2844cc",
                "c1426026.3eaf3",
                "c1a674ff.ea6448",
                "294af984.0d4fd6",
                "8bb5351a.daed98",
                "2f880da.7eeb9f2",
                "a541bf35.b662c",
                "1c96d7d.1259b28",
                "1aea9f8.7f0db61",
                "9eba9fd1.1b18",
                "719a3047.b15c7",
                "7efbc8d8.56b8e8",
                "3274f5d3.85fc5a"
            ]
        ]
    },
    {
        "id": "820e3e82.434de",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "Init with off boolean",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 210,
        "y": 660,
        "wires": [
            [
                "58f7e8a0.52cfa8",
                "5233d3a6.5687fc",
                "8c2f4142.58e1e",
                "1d318735.cbcf09",
                "e78a327a.7ecc3",
                "b4e57627.b883b8",
                "3103e6c9.8bae4a",
                "161df932.d1ec07",
                "22157c78.b985d4",
                "36a24499.d2253c",
                "2038d8d4.5ec798"
            ]
        ]
    },
    {
        "id": "b3107b84.1ec9b8",
        "type": "comment",
        "z": "23212fc.af324d",
        "name": "Details",
        "info": "",
        "x": 570,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a1079cb7.77a72",
        "type": "comment",
        "z": "23212fc.af324d",
        "name": "Profile",
        "info": "",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "1afe7bd8.029c34",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "Init with today",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "757157a4.8df338"
            ]
        ]
    },
    {
        "id": "4ebe449.b1b0cbc",
        "type": "function",
        "z": "23212fc.af324d",
        "name": "toArray",
        "func": "return {\n    payload: [\n        msg.payload[\"unique_id\"],\n        msg.payload[\"sex\"],\n        msg.payload[\"age\"],\n        msg.payload[\"race\"],\n        msg.payload[\"education_level\"],\n        msg.payload[\"avg_exercise\"],\n        msg.payload[\"alcoholic\"],\n        msg.payload[\"smoker\"],\n        msg.payload[\"dementia\"],\n        msg.payload[\"physically_handicapped\"],\n        msg.payload[\"intellectually_disabled\"],\n        msg.payload[\"no_of_occupants\"],\n        msg.payload[\"diabetes\"],\n        msg.payload[\"BMI\"],\n        msg.payload[\"high_blood_pressure\"],\n        msg.payload[\"cholesterol_level\"],\n        msg.payload[\"family_existing_conditions\"],\n        msg.payload[\"past_cardiac_arrest\"],\n        msg.payload[\"on_medication\"],\n        msg.payload[\"hospitalisation_count\"],\n        msg.payload[\"date_of_accident\"],\n        msg.payload[\"incident_hour_of_the_day\"],\n        msg.payload[\"harsh_weather\"],\n        msg.payload[\"temperature\"],\n        msg.payload[\"avg_heart_rate\"],\n        msg.payload[\"max_motion_speed\"],        \n        ]\n  };",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 1800,
        "wires": [
            [
                "b56f8bbe.06cf08",
                "a41029b7.c0cb28"
            ]
        ]
    },
    {
        "id": "d1c155cc.8bd248",
        "type": "function",
        "z": "23212fc.af324d",
        "name": "Date converter",
        "func": "function pad(n) {\n  n = n + '';\n  return n.length >= 2 ? n : '0'+n;\n}\n\nvar d = new Date(msg.payload);\nvar day = d.getDate();\nvar month = d.getMonth() + 1;\nvar year = d.getFullYear();\nmsg.payload = year +\"-\"+ pad(month) +\"-\"+ pad(day);\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 960,
        "wires": [
            [
                "3eea5ee5.bfd272"
            ]
        ]
    },
    {
        "id": "a4bca98a.addac8",
        "type": "comment",
        "z": "23212fc.af324d",
        "name": "Scoring - Prediction",
        "info": "",
        "x": 1030,
        "y": 1740,
        "wires": []
    },
    {
        "id": "a41029b7.c0cb28",
        "type": "function",
        "z": "23212fc.af324d",
        "name": "Build Payload Values",
        "func": "msg.payload = [msg.payload];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 1800,
        "wires": [
            [
                "ec599e7.376786"
            ]
        ]
    },
    {
        "id": "255966be.b7b47a",
        "type": "debug",
        "z": "23212fc.af324d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1610,
        "y": 1820,
        "wires": []
    },
    {
        "id": "ec599e7.376786",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "Run Prediction",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "runPrediction",
        "model": "d68e481c-7102-4182-b03d-be3d655df806",
        "deployment": "807b9d88-3a75-424a-9a85-6a635fc738d6",
        "modelhidden": "d68e481c-7102-4182-b03d-be3d655df806",
        "deploymenthidden": "",
        "x": 1280,
        "y": 1800,
        "wires": [
            [
                "255966be.b7b47a",
                "1d5a63f9.4f7d4c"
            ]
        ]
    },
    {
        "id": "1d5a63f9.4f7d4c",
        "type": "change",
        "z": "23212fc.af324d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.predictions[0].values[0][0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 1660,
        "wires": [
            [
                "255966be.b7b47a",
                "22980aa5.deb6a6"
            ]
        ]
    },
    {
        "id": "241fe54.eb91f1a",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "Service Instance Details",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "instanceDetails",
        "model": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deploymenthidden": "",
        "x": 1450,
        "y": 160,
        "wires": [
            [
                "736e04fd.c1e91c"
            ]
        ]
    },
    {
        "id": "c2579ef5.42fbf",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1235,
        "y": 160,
        "wires": [
            [
                "241fe54.eb91f1a"
            ]
        ]
    },
    {
        "id": "b0d507c4.81e3f8",
        "type": "debug",
        "z": "23212fc.af324d",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1870,
        "y": 380,
        "wires": []
    },
    {
        "id": "dfde2ff.f0875d",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1235,
        "y": 250,
        "wires": [
            [
                "eb46f2ac.f14b1"
            ]
        ]
    },
    {
        "id": "eb46f2ac.f14b1",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "List Published Models",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "listModels",
        "model": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deploymenthidden": "",
        "x": 1447,
        "y": 250,
        "wires": [
            [
                "d0c1630d.034c9"
            ]
        ]
    },
    {
        "id": "25c54a46.2e5e16",
        "type": "link in",
        "z": "23212fc.af324d",
        "name": "wml out",
        "links": [
            "736e04fd.c1e91c",
            "d0c1630d.034c9",
            "64623390.35a8fc",
            "597ee9e3.a1c978",
            "71523422.ded6ec",
            "96f9d168.f7e95",
            "5fd07035.e4407",
            "462de460.ba333c",
            "74755c1a.b4d3b4",
            "8704ff5d.f8812"
        ],
        "x": 1775,
        "y": 380,
        "wires": [
            [
                "b0d507c4.81e3f8"
            ]
        ]
    },
    {
        "id": "736e04fd.c1e91c",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1613,
        "y": 160,
        "wires": []
    },
    {
        "id": "d0c1630d.034c9",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1621,
        "y": 250,
        "wires": []
    },
    {
        "id": "23c8bd2f.b3a702",
        "type": "comment",
        "z": "23212fc.af324d",
        "name": "Instance Method",
        "info": "",
        "x": 1229,
        "y": 122,
        "wires": []
    },
    {
        "id": "8a67d79c.108de8",
        "type": "comment",
        "z": "23212fc.af324d",
        "name": "Published Model Methods",
        "info": "",
        "x": 1260,
        "y": 208,
        "wires": []
    },
    {
        "id": "786119a4.23eea8",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1237,
        "y": 286,
        "wires": [
            [
                "d0620044.f90cc"
            ]
        ]
    },
    {
        "id": "d0620044.f90cc",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "Get Model Details",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "getModelDetails",
        "model": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deploymenthidden": "",
        "x": 1436,
        "y": 286,
        "wires": [
            [
                "597ee9e3.a1c978"
            ]
        ]
    },
    {
        "id": "597ee9e3.a1c978",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1621,
        "y": 286,
        "wires": []
    },
    {
        "id": "e780ecdd.5102d",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1238,
        "y": 323,
        "wires": [
            [
                "87fafc72.81511"
            ]
        ]
    },
    {
        "id": "87fafc72.81511",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "List Model Metrics",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "listModelMetrics",
        "model": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deploymenthidden": "",
        "x": 1435,
        "y": 323,
        "wires": [
            [
                "71523422.ded6ec"
            ]
        ]
    },
    {
        "id": "71523422.ded6ec",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1620,
        "y": 323,
        "wires": []
    },
    {
        "id": "7f6f4114.1074d",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1237,
        "y": 359,
        "wires": [
            [
                "5dd1f0a8.7b333"
            ]
        ]
    },
    {
        "id": "5dd1f0a8.7b333",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "List Model Iterations",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "listLearningIterations",
        "model": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deploymenthidden": "",
        "x": 1443,
        "y": 359,
        "wires": [
            [
                "96f9d168.f7e95"
            ]
        ]
    },
    {
        "id": "96f9d168.f7e95",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1620,
        "y": 359,
        "wires": []
    },
    {
        "id": "ba7cd2e2.eeb06",
        "type": "comment",
        "z": "23212fc.af324d",
        "name": "Model Deployment Methods",
        "info": "",
        "x": 1272,
        "y": 404,
        "wires": []
    },
    {
        "id": "b3b8d13e.c7d0e",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "List Model Deployments",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "listModelDeployments",
        "model": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deploymenthidden": "",
        "x": 1456,
        "y": 447,
        "wires": [
            [
                "5fd07035.e4407"
            ]
        ]
    },
    {
        "id": "f6ca8bfe.264f48",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1237,
        "y": 447,
        "wires": [
            [
                "b3b8d13e.c7d0e"
            ]
        ]
    },
    {
        "id": "5fd07035.e4407",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1624,
        "y": 447,
        "wires": []
    },
    {
        "id": "732331b5.001a9",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1237,
        "y": 486,
        "wires": [
            [
                "50ede54.f60481c"
            ]
        ]
    },
    {
        "id": "50ede54.f60481c",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "Get Deployment Details",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "getDeploymentDetails",
        "model": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "7080ff04-eb91-4746-8b0d-45d7a5caf95f",
        "deploymenthidden": "",
        "x": 1453,
        "y": 486,
        "wires": [
            [
                "462de460.ba333c"
            ]
        ]
    },
    {
        "id": "462de460.ba333c",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1623,
        "y": 486,
        "wires": []
    },
    {
        "id": "42cc3932.d8b228",
        "type": "comment",
        "z": "23212fc.af324d",
        "name": "Delete",
        "info": "",
        "x": 1210,
        "y": 540,
        "wires": []
    },
    {
        "id": "45794bda.6304d4",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1243.5,
        "y": 582,
        "wires": [
            [
                "24afb0a1.45f2f"
            ]
        ]
    },
    {
        "id": "31e3906d.7bdf",
        "type": "inject",
        "z": "23212fc.af324d",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 1243.5,
        "y": 621,
        "wires": [
            [
                "5dce7491.a6ef6c"
            ]
        ]
    },
    {
        "id": "24afb0a1.45f2f",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "Delete Model",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "deleteModel",
        "model": "d68e481c-7102-4182-b03d-be3d655df806",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "d68e481c-7102-4182-b03d-be3d655df806",
        "deploymenthidden": "",
        "x": 1405,
        "y": 582,
        "wires": [
            [
                "74755c1a.b4d3b4"
            ]
        ]
    },
    {
        "id": "5dce7491.a6ef6c",
        "type": "wml",
        "z": "23212fc.af324d",
        "name": "Delete Model Deployment",
        "connection": "83f2bd3c.f8458",
        "wml-mode": "deleteDeployment",
        "model": "b4f185bf-36eb-44f0-8079-22c8e80fa167",
        "deployment": "53de22b3-403a-4f6f-814a-0c2fff4c81a8",
        "modelhidden": "b4f185bf-36eb-44f0-8079-22c8e80fa167",
        "deploymenthidden": "",
        "x": 1446,
        "y": 621,
        "wires": [
            [
                "8704ff5d.f8812"
            ]
        ]
    },
    {
        "id": "74755c1a.b4d3b4",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1626,
        "y": 581,
        "wires": []
    },
    {
        "id": "8704ff5d.f8812",
        "type": "link out",
        "z": "23212fc.af324d",
        "name": "",
        "links": [
            "25c54a46.2e5e16"
        ],
        "x": 1629,
        "y": 621,
        "wires": []
    },
    {
        "id": "22980aa5.deb6a6",
        "type": "switch",
        "z": "23212fc.af324d",
        "name": "All good",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "None",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Cardiac Arrest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Fall",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Choking",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Others",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 1560,
        "y": 1480,
        "wires": [
            [
                "882017c7.189078"
            ],
            [
                "56792903.4c0e58"
            ],
            [
                "56792903.4c0e58"
            ],
            [
                "56792903.4c0e58"
            ],
            [
                "56792903.4c0e58"
            ],
            [
                "b7584b50.4f8ec8"
            ]
        ]
    },
    {
        "id": "882017c7.189078",
        "type": "change",
        "z": "23212fc.af324d",
        "name": "All good",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "All good",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 1440,
        "wires": [
            [
                "56792903.4c0e58"
            ]
        ]
    },
    {
        "id": "b7584b50.4f8ec8",
        "type": "change",
        "z": "23212fc.af324d",
        "name": "Loading",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Loading...",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 1600,
        "wires": [
            [
                "56792903.4c0e58"
            ]
        ]
    }
]